body{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    font-family: Helvetica, sans-serif;
    margin: 0;
    color: rgb(18, 1, 29);
    background: linear-gradient(rgb(112, 34, 202), rgb(66, 16, 180), rgb(172, 29, 164), rgb(66, 16, 180), rgb(112, 34, 202));
}

#setup {
    background: rgba(112, 27, 112, 0.308);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: 300px;
}

h1, h2 {
    margin: 10px 0;
}

h2{
    font-size: 28px;
}

h1{
    font-size: 50px;
    padding-bottom: 10px;
}

label {
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.player2, #difficulty {
    display: none;
}

input[value="pvp"]:checked ~ .player2 {
    display: block;
}

input[value="pvm"]:checked ~ #difficulty {
    display: block;
}

#setupForm input[type=text],
#setupForm select,
#startBtn {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
    background: rgba(107, 6, 107, 0.288);
    border: 1px solid purple;
    box-sizing: border-box;
}

#startBtn {
    background: rgb(88, 8, 88);
    color: rgb(240, 114, 240);
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#startBtn:hover {
    background-color: rgb(119, 22, 119);
}

#difficulty {
    margin-top: 10px;
}

#setupForm{
    padding-top: 20px;
}

input[type=radio]{
    appearance: none;
    width: 25px;
    height: 25px;
    border: 2px solid rgb(65, 4, 51);
    border-radius: 50%;
}

input[type=radio]:checked::before{
    content: "";
    width: 100%;
    height: 100%;
    background:linear-gradient(rgb(76, 6, 155),rgb(199, 30, 123),rgb(88, 4, 88));
    display: block;
    border-radius: 50%;
}

.popup{
    background: rgb(248, 119, 242);
}

.title{
    color: rgb(107, 4, 56);
}

.icon{
    color: rgb(202, 33, 75) !important;
    border: 5px rgb(202, 33, 75) solid !important;
}

.popupBtn{
    background: rgb(109, 4, 109);
}
